<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.komorebi.rbac0.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.komorebi.rbac0.model.Menu">
            <id property="mid" column="mid" jdbcType="INTEGER"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="isLeaf" column="is_leaf" jdbcType="INTEGER"/>
            <result property="hidden" column="hidden" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        mid,component,path,
        redirect,name,description,
        title,icon,parent_id,
        is_leaf,hidden
    </sql>
    <select id="getMenuByPtype" resultType="com.komorebi.rbac0.model.Menu">
        SELECT *
        FROM j_menu
                 RIGHT JOIN j_ptype_menu jpm on j_menu.mid = jpm.mid
        WHERE jpm.tid=#{tid};
    </select>
    <select id="getMenuByUid" resultType="com.komorebi.rbac0.model.Menu">
        SELECT *
        FROM j_menu
        WHERE j_menu.mid IN (
            SELECT jpm.mid
            FROM j_ptype_menu AS jpm
                     INNER JOIN j_role_ptype jrt
                                ON jrt.tid=jpm.tid
            WHERE jrt.rid IN (
                SELECT rid
                FROM j_user
                         INNER JOIN j_user_role jur
                                    ON j_user.uid=jur.uid
                WHERE j_user.uid=#{uid})
        )
    </select>
</mapper>
