<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.komorebi.rbac0.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.komorebi.rbac0.model.Permission">
            <id property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="router" column="router" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
            <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        pid,method,router,
        name,description,create_at,
        update_at
    </sql>
    <!-- 定义 upsert 方法 -->
    <update id="upsert">
        INSERT INTO j_permission (method, router, name, description, create_at, update_at)
        VALUES (#{p.method}, #{p.router}, #{p.name}, #{p.description}, #{p.createAt}, #{p.updateAt})
        ON DUPLICATE KEY UPDATE
                             name = VALUES(name),
                             description = VALUES(description),
                             create_at = VALUES(create_at),
                             update_at = VALUES(update_at);
    </update>
    <select id="getPermissionByPtype" resultType="com.komorebi.rbac0.model.Permission">
        SELECT *
        FROM j_permission
                 RIGHT JOIN j_ptype_permission jpp ON j_permission.pid = jpp.pid
        WHERE jpp.tid=#{tid};
    </select>
    <select id="getPermission4Visitor" resultType="com.komorebi.rbac0.model.Permission">
        SELECT *
        FROM j_permission AS jp
            INNER JOIN j_ptype_permission jpp
                ON jp.pid=jpp.pid
        WHERE jpp.tid IN (
            SELECT jrp.tid
            FROM j_role
                INNER JOIN j_role_ptype jrp
                    ON j_role.rid=jrp.rid
            WHERE j_role.rolename="visitor")
    </select>
    <select id="getPermissionByRolename" resultType="com.komorebi.rbac0.model.Permission">
        SELECT *
        FROM j_permission AS jp
                 INNER JOIN j_ptype_permission jpp
                            ON jp.pid=jpp.pid
        WHERE jpp.tid IN (
            SELECT jrp.tid
            FROM j_role
                     INNER JOIN j_role_ptype jrp
                                ON j_role.rid=jrp.rid
            WHERE j_role.rolename=#{rolename})
    </select>
    <select id="countPermission4Visitor" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM j_permission AS jp
                 INNER JOIN j_ptype_permission jpp
                            ON jp.pid=jpp.pid
        WHERE jp.method=#{httpMethod}
        AND jp.router=#{router}
        AND jpp.tid IN (
            SELECT jrp.tid
            FROM j_role
                     INNER JOIN j_role_ptype jrp
                                ON j_role.rid=jrp.rid
            WHERE j_role.rolename="visitor")
    </select>
    <select id="countPermissionByRolename" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM j_permission AS jp
                 INNER JOIN j_ptype_permission jpp
                            ON jp.pid=jpp.pid
        WHERE jp.method=#{httpMethod}
          AND jp.router=#{router}
          AND jpp.tid IN (
            SELECT jrp.tid
            FROM j_role
                     INNER JOIN j_role_ptype jrp
                                ON j_role.rid=jrp.rid
            WHERE j_role.rolename=#{rolename})
    </select>
    <select id="getPermissionByUid" resultType="com.komorebi.rbac0.model.Permission">
        SELECT *
        FROM j_permission
        WHERE j_permission.pid IN (
            SELECT jpp.pid
            FROM j_ptype_permission AS jpp
                INNER JOIN j_role_ptype jrt
                    ON jrt.tid=jpp.tid
            WHERE jrt.rid IN (
                SELECT rid
                FROM j_user
                    INNER JOIN j_user_role jur
                        ON j_user.uid=jur.uid
                WHERE j_user.uid=#{uid})
            )
    </select>
    <select id="countPermissionByUid" resultType="java.lang.Integer">
        SELECT count(*)
        FROM j_permission
        WHERE j_permission.method=#{httpMethod}
            AND j_permission.router=#{router}
            AND j_permission.pid IN (
            SELECT jpp.pid
            FROM j_ptype_permission AS jpp
                     INNER JOIN j_role_ptype jrt
                                ON jrt.tid=jpp.tid
            WHERE jrt.rid IN (
                SELECT rid
                FROM j_user
                         INNER JOIN j_user_role jur
                                    ON j_user.uid=jur.uid
                WHERE j_user.uid=#{uid})
        )
    </select>
</mapper>
